<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="creditcardinfoStylesheet.css"/>
		<title>Pizza Order Form</title>
	</head>
	<form action="./billing" method="post"> <!--Put in whatever the form handler is-->
		<fieldset>
			<legend>Billing Information: </legend>
			Credit Card Number:<br>
			<input type="text" name="cardNum" value=""><br>
			Card Expiration Date (Use only numbers. Ex: 08/18 = 0818):<br>
			<input type="text" name="cardExp" value=""><br>
			Card Security Code:<br>
			<input type="text" name="cardSec" value=""><br>
			Card ZIP Code:<br>
			<input type="text" name="card" value=""><br>
			<br>
			<input type='submit' value="Submit"><br>
		</fieldset>
	</form>
</html>